@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

/*configurar toda la pagina*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Pathway Gothic One',sans-serif;
}

/*configuracion de toda la pagina*/

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body html{
    overflow-x: hidden;
}

section{
    width: 80%;
    margin: 80px auto;
}
/*final de la configuracion gral*/

/*inicio del navbar*/
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.navlinks{
    display: flex;
    align-items: center;
}

.navlinks li{
    margin: 0 30px;
}
.boton{
    padding: 10px 5px;
    background: rgba(0, 0, 255, 0.548);
    border-radius: 30px;
    color: whitesmoke;
    text-decoration: none;
}
/*final del navbar*/
/*inicio del header*/
header{
    width: 100vw;
    height: 100vh;
    position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/background.3.jpg);
    
}


.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.line{
    width: 150px;
    height: 4px;
    color: whitesmoke;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 610px;
    margin-bottom: 20px;
    position: bottom;

}

.boton1{
    padding: 10px 5px;
    background: rgba(0, 0, 255, 0.548);
    border-radius: 30px;
    color: whitesmoke;
    text-decoration: none;
}
/*fianl del header*/

/*segunda parte de la pagina*/
.title{
    text-align: center;
    font-size: 4vmin;
    color: rgba(0, 0, 0, 0.527);
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personajes .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: rgba(0, 0, 255, 0.301);
    margin: 20px auto;
}

.personajes p{
    color: #707070;
    padding: 0px 40px;
}

.img{
    height: 350px;
    width: 400px;
    padding-left: 100px;
}
/*final de la segunda parte de la pagina*/

/*tercera parte de la pagina*/

.story{
    width: 150%;
    height: 100vh;
    background-image: url(../imagenes/background.2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    
}

.story-content{
    width: 100px;
    padding: 105px;
    color: whitesmoke;
    display:flex;
    align-items: center;
    flex-direction:column;
}

.story-content h1{
    font-size: 5vmin;
    padding-left: 100px;
}

.story-content .line{
    margin-bottom: 50px;
    margin-left: 170px;
}

.explore-content p{
    color:whitesmoke;
    padding-left: 700px;
}
/*final de la tercera parte*/

/*cuarta parte de la pagina*/

.rogues{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/background.1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

    
}

.content-col{
    width: 40%;
}

.rogues .row .col{
    width: 50%;
}

div>div>img{
    height: 250px;
    width: 450px;
    padding-left: 150px;
}

.content-col h1{
    font-size: 7vmin;
    color: whitesmoke;
}

.content-col line{
    border-left: 50px;
}

.content-col p{
    padding: 0;
    margin: 30px auto;
    color: whitesmoke
}

.boton2{
    padding: 15px 5px;
    padding-left: 5px;
    margin: 20px auto;
    background: blue;
    border-radius: 30px;
    color: whitesmoke;
}
/*final de la cuarta parte*/
/*footer*/
.footer{
    width: 100%;
    height: 200px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}