@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

/*configurar toda la pagina*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Pathway Gothic One',sans-serif;
}

/*configuracion de toda la pagina*/

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body html{
    overflow-x: hidden;
}

section{
    width: 80%;
    margin: 80px auto;
}
/*final de la configuracion gral*/

/*inicio del navbar*/
.navbar_peliculas{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.navlinks_peliculas{
    display: flex;
    align-items: center;
}

.navlinks_peliculas li{
    margin: 0 30px;
}
.boton_inicio{
    padding: 10px 5px;
    background: rgba(238, 28, 63, 0.842);
    border-radius: 30px;
    color: whitesmoke;
    text-decoration: none;
}
/*final del navbar*/
/*inicio del header y titulo*/
header{
    width: 100vw;
    height: 100vh;
    position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/1289072.jpg)
}

.header-content{
    margin-top: 650px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    text-align:center;
}



.boton1{
    padding: 10px 5px;
    background: rgba(255, 0, 0, 0.548);
    border-radius: 30px;
    color: whitesmoke;
    text-decoration: none;
    position:left;
}
/*final del header y titulo*/
/*primera parte de pagina*/
.title{
    text-align: center;
    font-size: 4vmin;
    color: rgba(0, 0, 0, 0.527);
}

.row-p{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row-p .col-p{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mascara-fantasma .row-p{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: rgba(38, 38, 43, 0.301);
    margin: 20px auto;
}

.mascara-fantasma p{
    color: #707070;
    padding: 0px 40px;
}

.img-p{
    height: 350px;
    width: 400px;
    padding-left: 100px;
    justify-content: space-between;
}
/*final primera parte*/

/*segunda parte*/
.trailers{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/background.p.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.iframe{
    height: 350px;
    width: 500px;
    padding-left: 500px;
    
}
.subzero{
    margin-right: 600px;
    margin-bottom: 600px;
}

.mask{
    margin-left: 600px;
    margin-bottom: 600px;
}

.content-col h1{
    font-size: 7vmin;
    color:whitesmoke;
    text-align: center;
    margin-bottom: 100px;

}

/*final de la segunda parte*/

/*formulario*/
.form{
    width: 100%;
    height: 500px;
    padding:20px 80px;
    margin: 0px;
    background:rgb(65, 17, 17);
    text-align:left;
    list-style: none;
}
.row h4{
    font-size: 3vmin;
    color: whitesmoke;
}

.row{
    font-size: 20px;
    color: whitesmoke;
}
.boton4{
    padding: 10px 5px;
    background: rgba(255, 0, 0, 0.548);
    border-radius: 30px;
    color: whitesmoke;
    text-decoration: none;
}
.boton5{
    padding: 10px 5px;
    background: rgba(255, 0, 0, 0.548);
    border-radius: 30px;
    color: whitesmoke;
    text-decoration: none;
}
/*footer*/
.footer{
    width: 100%;
    height: 300px;
    padding: 20px 100px;
    margin: 0;
    background: #212133;
    text-align: center;
    color: whitesmoke;
}